<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    @Styles.Render("~/Content/DataTable")
    
    <title>@ViewBag.Title - TMO</title>
    <link href="~/img/favicon.ico" rel="icon">
    @{ViewBag.prevPage = ViewBag.Title; }
    
    @Styles.Render("~/Content/Bootstrap")
</head>

<body>
    <section id="container">
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <a href="" class="logo"><b>TMO<span> TANAUAN</span></b></a>

            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="@Url.Action("Index", "Login")">Logout</a></li>
                </ul>
            </div>
        </header>
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <h5 class="centered" id="userName">@Model.currentuser.fullname</h5>
                    <input type="text" id="userType" value="@Model.currentuser.acnttype" style="display:none"/>
                    <h5 class="centered">
                        @if (Model.currentuser.acnttype == "TENFORCER")
                        {
                            Model.currentuser.acnttype = "TRAFFIC ENFORCER";
                        }
                        @Model.currentuser.acnttype
                    </h5>

                    @foreach (var menu in Model.menulist)
                    {
                        <li class="mt">
                            <a href="@Url.Action(menu.action,menu.controller, new {id=Model.currentuser.uid })" id="@menu.tagid">
                                <i class="fa @menu.icon"></i>
                                <span>@menu.Text</span>
                            </a>
                        </li>
                    }
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <!-- page start-->

                @Scripts.Render("~/Script/jquery")
                @RenderBody()
                <div class="modal fade " id="myModal_reload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div style="text-align:center;font-size:50px;color:white;padding-top:45vh;">
                        <div class="spinner-border" role="status">
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                            @* fa-circle-o-notch *@
                            @* fa-spinner *@
                            @* fa-refresh *@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="padding-left:30px; padding-right:30px;">
                    </div>
                </div>
            </section>
            <!-- /wrapper -->
        </section>
        <!-- /MAIN CONTENT -->
        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                <p>
                    &copy; Copyrights <strong>Traffic Management Office of Tanauan</strong>. All Rights Reserved
                </p>
                <div class="credits">
                    Created by Traffic Management Office of Tanauan
                </div>
                <a href="inbox.html#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>
    @Scripts.Render("~/Script/Bootstrap")
    @Scripts.Render("~/Script/DataTables")

</body>

</html>